img {
    width: 700px !important;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*change the number below to scale to the appropriate size*/

tag {
    margin: 25px 0px 0px 0px;
}


.post-title {
}

.post-excerpt {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.125rem;
}

a.post_list {
    text-decoration: none !important;
}

.blog-post-inner {
    padding-top: 52px !important;
}

.post-sub-title, .post-author {
    font-size: 1.125rem;
    text-transform: uppercase;
}

.post-author {
    margin-bottom: 25px;
}

.post-content {
    display: block;
    text-align: justify;
}

.post-content p,li {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
    text-indent: 1em;
}
.post-content ul {
    padding-left: 4em;

}

.post-date {
    display: block;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;

    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}
