{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% block title %}
 {{ Content_body.title }}
{% endblock %}
{% load usertag %}
{% block content %}

{% load crispy_forms_tags %}

{% get_current_language as CURRENT_LANGUAGE %}
 <div class="col">
            <div id="content" name="content" class="main">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h1 class=" text-center"> {{ Content_body.title }}</h1>
                        <hr class="mb-0">
                        <!--Profile-->
                        <div class="container py-5 ">
                            <form method="POST" >
                                {% csrf_token %}
                                <h5>User Information:</h5>
                            <div class="p-2">
                                {{ profile_form.username|as_crispy_field }}
                                {{ profile_form.first_name|as_crispy_field }}
                                {{ profile_form.last_name|as_crispy_field }}
                                {{ profile_form.email|as_crispy_field }}
                                <div class="form-check mt-2 mb-3">
                                    {% if profile_form.instance.is_staff == True  %}
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked onclick="p(event)">
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" onclick="p(event)">
                                    {% endif %}
                                    <label class="form-check-label" for="flexCheckIndeterminate">
                                        Staff
                                    </label>
                                </div>
                            </div>
                                <h5>Groups:</h5>
                            <ul class="list-group p-2">
                                {% for group in user_groups %}
                                       {% if profile_form.instance|has_group:group.name %}
                                           <li class="list-group-item list-group-item-success ">
                                           <p class="Groups_Description_True" >"{{group.name}}"</p>
                                           </li>
                                        {% else %}
                                           <li class="list-group-item list-group-item-danger">
                                           <p class="Groups_Description_False" >"{{group.name}}"</p>
                                           </li>
                                       {% endif %}
                                {% endfor %}
                            </ul>
                                {% if user.username == profile_form.instance.username %}
                                    <button class="btn btn-primary mt-3" id="Button_Save" type="submit" >
                                    <!-- Data in base/static/register/js/data -->
                                </button>
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
  function p(e){
    e.preventDefault();
    return false;
  }

</script>
{% endblock %}

{%  block link_js %}
    <script type="text/javascript" src="{% static "" %}{{content_data}}"> </script>
    <script type="text/javascript" src="{% static "user_profile/profile/data/general.js" %}"> </script>

{% endblock %}